Button {
  cursor: pointer;
}

* {
  font-family: Exo;
}

.forgot {
  position: relative;
}

.forgot::after {
  content: "";
  width: 100%;
  height: 1px;
  background: black;
  position: absolute;
}
